<div class="ekart--product--container">
<!-- <img [src]="product.pImage">
<p>Name: {{ product.name }}</p>
<p>Price: {{ '$' + product.price }}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
<p>{{product.inStock > 0 ? 'Only ' + product.inStock +' items left': 'Not in Stock'}}</p>
<p>{{addToCart}}</p>
<button (click)="decrementCartValue()">-</button>
<button (click)="incrementCartValue()">+</button>
<button [disabled]="product.inStock <= 0" class="buy--now--button" (click)="buyNow()">Buy Now</button>
<p style="color: red; margin-top: 5px;">{{message}}</p> -->
<!-- <input (input)="onValueChange($event)">
<p >{{value}}</p> -->


<app-search/>
<app-product-list/>


</div>